<div class="board">
    <p>
        You are about to take the <strong>{{ test.title }}</strong> Test, please ensure you read the following instructions before you begin.
    </p>
    <h4>Instructions</h4>
    <ol>
        <li>The test contains 10 multi choice questions.</li>
        <li>Do not close the browser </li>
        <li>If you leave the test you will note be able to take it again</li>
        <li>Your Score will be displayed after the test.</li>
        <li>Good luck!</li>
    </ol>

    <button class="button" ng-click="begin()">Begin</button>
</div>
